#site-footer {
  align-self: flex-end;
  width: 100%;
  padding: 1rem 0;
  color: $color-white;
  background-color: $color-black;
  box-sizing: content-box;
  @include breakpoint($brakepoint-mobile) {
    text-align: center;
  }
  @include breakpoint($brakepoint-tablet) {
    padding: 1.5rem 0;
    text-align: center;
  }
  @include breakpoint($brakepoint-laptop) {
    padding: 2rem 0;
    text-align: left;
  }
  #footer-logo, .footer-info {
    flex-grow: 1;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint($brakepoint-tablet) {
    #footer-logo, .footer-info {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  @include breakpoint($brakepoint-laptop) {
    #footer-logo, .footer-info {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  #footer-logo {
    text-align: center;
    width: $column-span-12;
    #footer-logo-svg {
      width: $column-span-4;
      @include breakpoint($brakepoint-mobile) {
        width: $column-span-6;
      }
      @include breakpoint($brakepoint-desktop) {
        width: $column-span-2;
      }
    }
  }
  h1 {
    margin-bottom: 1.1em;
  }
  .footer-info {
    @include breakpoint($brakepoint-mobile) {
      width: $column-span-12;
    }
    @include breakpoint($brakepoint-tablet) {
      width: $column-span-6;
    }
    @include breakpoint($brakepoint-laptop) {
      width: $column-span-3;
    }
  }
  .footer-social-container {
    @include breakpoint($brakepoint-mobile) {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: auto;
    }
    margin-top: -0.5em;
    a {
      display: inline-block;
      height: 3.5em;
      width: 4em;
      margin: 0 0.25em;
      border: solid 1em rgba(0, 0, 0, 0);
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;
      box-sizing: border-box;
      text-decoration: none;
      @include breakpoint($brakepoint-mobile) {
        margin: 0;
        height: 3.5em;
      }
      @include breakpoint($brakepoint-laptop) {
        background-position: left bottom;
        margin-right: 0.25em;
        margin-left: -1em;
      }
    }
    a:last-of-type {
      margin-right: 0;
      @include breakpoint($brakepoint-laptop) {
        margin-right: -1em;
      }
    }
    #facebook-icon {
      background-image: image-url('svg/facebook-icon-svg.svg');
      @include breakpoint($brakepoint-laptop) {
        margin-right: -0.15em;
      }
    }
    #twitter-icon {
      background-image: image-url('svg/twitter-icon-svg.svg');
    }
    #instagram-icon {
      background-image: image-url('svg/instagram-icon-svg.svg');
    }
    #pinterest-icon {
      background-image: image-url('svg/pinterest-icon-svg.svg');
    }
    #facebook-icon:hover, #facebook-icon:focus {
      background-image: image-url('svg/facebook-icon-hover-svg.svg');
    }
    #twitter-icon:hover, #twitter-icon:focus  {
      background-image: image-url('svg/twitter-icon-hover-svg.svg');
    }
    #instagram-icon:hover, #instagram-icon:focus  {
      background-image: image-url('svg/instagram-icon-hover-svg.svg');
    }
    #pinterest-icon:hover, #pinterest-icon:focus  {
      background-image: image-url('svg/pinterest-icon-hover-svg.svg');
    }
  }
}
